<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mindlog">

    <application>
        <!-- 테스트에서 Fragment를 담아 띄울 컨테이너 액티비티 -->
        <activity
            android:name=".HiltTestActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
    </application>

</manifest>